body {
    font-family: sans-serif;
    background-color: #fad49a;
    padding: 40px 20px;
}

.card {
    width: 500px;
    padding: 20px;
    border: 5px solid #45b4ff;
    margin-bottom: 16px;
    box-shadow: 0 40px 40px rgb(167, 167, 244);
    border-radius: 30px;
    margin: 60px auto;
    background-color: #fef9f9;
}

.card h3 {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 8px;
}

.harga {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #2e7d32;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 80px;
    margin: auto;
}