body{
    background-color: rgb(237, 237, 237);
    color:white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#biodata-rifat{
    background-color: rgb(203, 202, 202);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1{
    background-color: #e8f4fd;
    padding: 30px;
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

p{
    font-size: 14px;
    line-height: 1.6;
}

ul{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 20px 0;
}

.foto-profil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #3498db;
    object-fit: cover;
}

.motto-box{
    background-color: #e8f4fd;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    font-style: italic;
    color: #2980b9;
}